/* DisplayPage */
.display-page{
    padding: 10px;
}
.contentPic{
    width: 100px;
    height: 100px;
}
.add-file{
    display: flex;
    gap: 48%;
}
.add-file-btn{
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    padding: 8px 4px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(135, 173, 222);
    margin-bottom: 12px;
}
.file-str{
    border: 1px;
    border-style: solid;
    border-color: #3ee577 white;
    padding: 6px 4px;
    display: flex;
    gap: 6px;
    align-items: center;
}
.folder-pic{
    width: 20px;
    height: 20px;
    color: #3ee577;
}

/* GenDisplay */
.Doc{
    width: 100px;
    height: 100px;
}

/* SingleDoc */
.single-doc{
    padding: 10px 10px 17% 10px;
}
.single-doc :hover{
    cursor: pointer;
}
.file-pics{
    width: 40px;
    height: 40px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}
.popup-container{
    max-width: 640px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}
.modal-right{
    width: 100%;
}
.close-btn{
    position: fixed;
    top: 8px;
    right: 8px;
    color: black;
    cursor: pointer;
}
.pop-content{
    color: black;
    padding: 5px 6px 5px 35%;
    justify-content: center;
}
.pop-btn{
    margin: 5px 6px 5px 11%;
}

.download-folder{
    display: flex;
    gap: 70%;
    padding-bottom: 10px;
    align-items: center;
}
.single-download{
    gap: 50%;
}
.file-name{
    align-items: center;
    color: rgb(135, 173, 222);
}
.group-name{
    display: flex;
    align-items: center;
    width: 500px;
    gap: 5%;
}
.download-btn{
    justify-content: center;
    align-items: center;
}
.d-id{
    display: none;
}
@media(min-width:280px){
    .instrc{
        font-size: small;
        width: 95%;
    }
    .add-file{
        gap: 5%;
    }
    
}
@media(min-width:360px){
    .instrc{
        font-size: small;
        width: 95%;
    }
    .add-file{
        gap: 5%;
    }
    
}

@media(min-width:412px){
    .instrc{
        font-size: small;
        width: 95%;
    }
    .add-file{
        gap: 3%;
    }
}
@media(min-width:540px){
    .instrc{
        font-size: small;
        width: 100%;
    }
    .add-file{
        gap: 58%;
    }

}
@media(min-width:717px){
    .instrc{
        font-size: small;
        width: 100%;
    }
    .add-file{
        gap: 42%;
    }
}
@media(min-width:1024px){
    .instrc{
        font-size: small;
        width: 100%;
    }
    .add-file{
        gap: 58%;
    }
}