.home-page{
    background: #f0f0f0;
    padding: 40px 20px 0px 20px;
    height: 530px;
}

/* FileUploader */
.fileUploader{
    background: #f0f0f0;
    padding: 20px 20px ;
    height: fit-content;
}
.fstr{
    padding: 10px 10px 24% 10px;
    background: white;
    box-shadow: 0 0 6px rgba(8,7,16,0.6);
    height: 430px;
}
.fnm{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(255,255,255,0.1);
    width: 1024px;
}
.hidden{
    visibility: hidden;
    width: 0px;
}
.uploadPic{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.uploadButton{
    border: 2px solid rgb(135, 173, 222);
    width: 155px;
    height: 95px;
    padding: 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 6px;
}
.upload{
    width: 100px;
    height: 100px;
}
.upload-button{
    margin: 10px 20px 10px 4px;
    padding: 8px 47%;
}
.folder-pics{
    width: 40px;
    height: 40px;
}
.group-names{
    align-items: center;
    display: flex;
    padding: 10px 8px;
    border-radius: 6px;
    width: 1024px;
    background-color: #ddffdd;
}
.delete-tag{
    margin-left: 93%;
}
@media(min-width:280px){
    .upload-button{
        padding: 8px 38%;
    }
}
@media(min-width:360px){
    .upload-button{
        padding: 8px 42%;
    }
}
@media(min-width:412px){
    .upload-button{
        padding: 8px 40%;
    }
}
@media(min-width:717px){
    .upload-button{
        padding: 8px 45%;
    }
}
@media(min-width:1024px){
    .upload-button{
        padding: 8px 47%;
    }
}