.profile-page{
    padding: 20px 8px 20px 30%;
}
.accs{
    margin: 20px 20%;
}
.profile{
    padding: 20px 20px;
    display: flex;
    gap: 15%;
}
.add-files{
    background-color: rgb(135, 173, 222);
    color: white;
    border-radius: 99px;
    padding: 10px;
    width: 50px;
    height: 50px;
}
@media(min-width:280px){
    .profile{
        gap: 25%;
    }
}
@media(min-width:360px){
    .profile{
        gap: 45%;
    }
}
@media(min-width: 412px){
    .profile{
        gap: 50%;
    }
}
@media(min-width:717px){
    .profile{
        gap: 65%;
    }
}
@media(min-width:1024px){
    .profile{
        align-items: center;
        gap: 18%;
    }
}